:host {
	display: flex;
	height: 100%;

	> div {
		flex: 1;
		display: flex;
		flex-flow: column;
	}
}

app-navigation {
	display: flex;
	flex-flow: column;

	// we set the navigation to have a minimum width of 256px
	min-width: 256px;
	height: 100%;

	// then we add some of the styling that is going to be needed
	box-shadow: 0 0 4px 1px #0001;
}
app-toolbar {
	min-height: 48px;
}
app-content {
	flex: 1;
}
