:host {
	display: flex;
	flex-flow: column;

	position: relative;
	z-index: 1;
}

.title {
	display: flex;
	align-items: center;
	height: 48px;
	padding: 0 24px;

	box-shadow: 0 0 4px 1px #0001;

	> p {
		margin: 0;
		font-size: 12pt;
		color: #888;
	}
}
.menu {
	display: flex;
	flex-flow: column;

	// since each child of the menu is a link we are going to need to keep this in mind
	> div {
		cursor: pointer;
		padding: 12px 24px;
	}
}
.footer {
	display: flex;
	align-items: center;
}
